.App {
  text-align: center;
}

body {
  background-color: burlywood;
}

.title {
  text-align: center;
}

p {
  text-align: center;
}

#editor-bar, #preview-bar {
  text-align: center;
}

#preview-container {
  background-color: deepskyblue;
  width: 50%;
  margin: 0 auto;
  
}

#preview {
  text-align: left;
  padding: 1rem;
}



textarea {
  margin: 2rem 25%;
  width: 50%;
}

